{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="ui fluid card">
    <a href="{{ path(search_result_url_param(result).path, search_result_url_param(result).params) }}" class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% if result.image is not empty %}
            {% set path = result.image|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
        {% else %}
            {% set path = '//placehold.it/200x200' %}
        {% endif %}

        <img src="{{ path }}" alt="{{ result.attribute('name').value | join }}" class="ui bordered image" />
    </a>
    <div class="content">
        <a href="#" class="header sylius-product-name">{{ result.attribute('name').value | join }}</a>

        {% if result.price is not empty %}
            <div class="sylius-product-price">{{ money.format(result.priceByChannelAndCurrency(channel.code, currencyCode).value, currencyCode) }}</div>
        {% endif %}
    </div>
</div>
