{% if bundle_exists('SonataCoreBundle') %}
    {{ sonata_block_render_event('sylius.shop.search.header.before', {'query': query}) }}
{% else %}
    {{ sylius_template_event('sylius.shop.search.header.before', {'query': query}) }}
{% endif %}

<h1 class="ui monster section dividing header">
    {{ 'monsieurbiz_searchplugin.search.result.search_result'|trans({'%query%': query, '%count%': resultSet.totalHits}) }}
</h1>

{% if bundle_exists('SonataCoreBundle') %}
    {{ sonata_block_render_event('sylius.shop.search.header.after', {'query': query}) }}
{% else %}
    {{ sylius_template_event('sylius.shop.search.header.after', {'query': query}) }}
{% endif %}
