<div class="ui fluid vertical menu">
    <div class="header item">
        {{ 'monsieurbiz_searchplugin.filters.filter_results' | trans }}
    </div>

    {% if resultSet.filters|length == 0 %}
        <div class="item">
            {{ 'monsieurbiz_searchplugin.filters.no_filter'|trans }}
        </div>
    {% else %}

        {% for filter in resultSet.filters %}
            <div class="item">
                <div class="field">
                    <div id="options">
                        <div class="field">
                            <div class="ui teal ribbon label">{{ filter.label | trans }}</div>
                            <div id="filter_1" class="ui dropdown" tabindex="0" style="width: 100%">
                                <div class="grouped fields">
                                    {% for value in filter.values %}
                                        <div class="field" style="margin-top: 10px;">
                                            <div class="ui toggle checkbox">
                                                <input type="checkbox" id="options_option_mug_type_0" name="options[option_mug_type][]" value="medium_mug" tabindex="0" class="hidden">
                                                <label for="options_option_mug_type_0">{{ value.label }} ({{ value.count }})</label></div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="menu" tabindex="-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

{#        <div class="item">#}
{#            <div class="field">#}
{#                <div id="price">#}
{#                    <div class="field"><label for="price_min_price">Min price</label>#}
{#                        <div class="ui labeled input">#}
{#                            <div class="ui label">€</div>#}
{#                            <input type="text" id="price_min_price" name="price[min_price]"></div>#}
{#                    </div>#}
{#                    <div class="field"><label for="price_max_price">Max price</label>#}
{#                        <div class="ui labeled input">#}
{#                            <div class="ui label">€</div>#}
{#                            <input type="text" id="price_max_price" name="price[max_price]"></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="item">
            <button type="submit" class="ui primary icon labeled button" style="width: 100%;">
                <i class="search icon"></i>
                {{ 'monsieurbiz_searchplugin.filters.apply_filters' | trans }}
            </button>
        </div>

    {% endif %}

</div>
